html {
  scroll-behavior: smooth;

}


body {
  
  background-color: rgb(255, 218, 224);
  margin: 0;
  font-family: 'Press Stert 2P';
}

h1 h2 h3 h4 h5 p ul li {

margin: 0;
padding: 0;
}


header {
 
    display: flex;
    margin: auto;
    background-color: rgb(221, 221, 221);
    max-width: 1000px;
    justify-content: space-between;
    padding: 13px 30px 13px 30px ;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.cerca-mburger {

  display: flex;
  list-style-type: none;
  gap: 20px;
  height: 43px;
 
}

.cerca {
  
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border: 4px solid rgb(255, 255, 255);
  padding: 3px;
  padding-left: 200px;
  padding-right: 6px;


}

.hamburger {

  border: 4px solid rgb(255, 255, 255);
  padding: 3px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.link1 {

  color: white;
  font-size: 28px;
  font-family: "Press Start 2P", system-ui;
  text-decoration: underline;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);

 
  

}

.titolo {


  max-width: 1200px;
  margin:auto;
 
  
}

h1 {

font-family: "Bebas Neue", sans-serif;  
font-weight: 300;
font-size: 70px;
max-width: 1200px;
line-height: 97%;
padding: 7% 7% 2% 13%;




}

.lplc {

  color: white;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  justify-content: center;
  font-size: 16px;
  font-family: "Press Start 2P", system-ui;
  list-style-type: none;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
  gap: 2%;



}

.reindirizzi {

  border: 5px solid rgb(255, 255, 255);
  padding: 1% 2% 1% 1%;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  gap: 100px;

}

.reindirizzi:hover {

  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.zona1 {
padding-top: 13%;

}

.contenuto-zona1 {

max-width: 1350px;
margin:auto;
display: flex;
gap: 250px;

}

.contenuto-zona1 .image {

width: 25%;


}

.contenuto-zona1 .text {

  width: 75%;
  margin-left: -130px;
 

}

.contenuto-zona1 .text p {

  font-family: "Reddit Mono", monospace;
  font-size: 28px;
    line-height: 1.4;
  margin-bottom: 1.3rem;

 

}

.zuck {

  max-width: 340px;
  padding-top: 50%;
  margin-right: -100px;
}

h2 {

  font-size: 23px;
  font-family: "Press Start 2P", system-ui;
  padding-bottom: 4%;
  padding-top: 9%;

  
}

.zona2 {
  margin-top: 13%;
  
  }
  
  .contenuto-zona2 {
  
  max-width: 1350px;
  margin:auto;
  display: flex;
  gap: 250px;
  
  }
  
  .contenuto-zona2 .clessidra1 {
  
  width: auto;
  
  
  }
  
.text2 {
  
    width: 75%;
  
  
  
  
  }
  
.text2 p {
  
  font-family: "Reddit Mono", monospace;
  font-size: 28px;
    line-height: 1.4;
    margin-bottom: 1.3rem;
  
  }
  
  .clessidra1 {
  
    height: 70px;
    padding-top: 30%;
    padding-left: 10%;
    margin-right: 0px;
  }
  
  h3 {
  
   
    font-size: 23px;
    font-family: "Press Start 2P", system-ui;
    padding-bottom: 4%;
    padding-top: 9%;
  }

  .zona3 {
    margin-top: 13%;
    
    }
    
    .contenuto-zona3 {
    
    max-width: 1350px;
    margin:auto;
    display: flex;
    gap: 250px;
    
    }
    
    .contenuto-zona3 .image2 {
    
    width: 25%;
    
    
    }
    
    .contenuto-zona3 .text3 {
    
      width: 75%;
    
      margin-left: -130px;
    
    
    }
    
    .contenuto-zona3 .text3 p {
    
      font-family: "Reddit Mono", monospace;
      font-size: 28px;
      line-height: 1.4;
    }
    
    .aaron {
    
      height: 350px;
      padding-top: 63%;
      margin-right: -100px;
    }
    
    h4 {
    
      font-size: 23px;
      font-family: "Press Start 2P", system-ui;
      padding-bottom: 4%;
      padding-top: 9%;
    }
    
    .zona4 {
      margin-top: 13%;
      
      }
      
      .contenuto-zona4 {
      
      max-width: 1350px;
      margin:auto;
      display: flex;
      gap: 250px;
      
      }
      
      .contenuto-zona4 .clessidra2 {
      
      width: auto;
      
      
      }
      
    .text4 {
      
        width: 75%;
      
      
      
      
      }
      
    .text4 p {
      
      font-family: "Reddit Mono", monospace;
      font-size: 28px;
        line-height: 1.4;
      }
      
      .clessidra2 {
      
        height: 70px;
        padding-top: 30%;
        padding-left: 10%;
        margin-right: 0px;
      }
      
      h5 {
      
        font-size: 23px;
        font-family: "Press Start 2P", system-ui;
        padding-bottom: 4%;
        padding-top: 9%;
      }
    
      .bottoni {

       display: flex;
       gap: 38px;
       justify-content: center;
       padding-top: 11%;
       padding-bottom: 4%;
      }

      .bottoni-fondo {

        font-family: "Reddit Mono", monospace;
        background-color: rgb(255, 249, 249);
        border-color: rgb(36, 193, 255);
        border-width: 4px;
        border-style: solid;
        padding: 6px;
        font-size: 22px;
        border-radius: 30px;
        padding: 9px 30px 9px 30px;
        
      }

      .bottoni-fondo:hover {

        text-decoration: underline;
        cursor: pointer;
      }

      footer {

      display: flex;
      margin: auto;
      background-color: rgb(221, 221, 221);
      padding: 30px ;
      justify-content: center;
      box-shadow: inset 0px 5px 4px rgb(172, 172, 172)
      }

    .footerone {

      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 20%;
      font-size: 28px;
      color: white;
     
    }
    .f1 {
 
      text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
      font-family: "Press Start 2P", system-ui;
      
    }

    .f2 {

      text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
      font-size: 44px;
      font-family: "Press Start 2P", system-ui;
      
      
    }

    .f2:hover {

    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
    cursor: pointer;
    }

    .f1:hover {

      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }

    .cerca:hover {

      cursor: text;
    }

    .hamburger:hover {

      cursor: pointer;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);

    }

    .link1:hover {

      cursor: pointer;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
    }

  
    .re5 {

      text-decoration: none;
      color: black;
    }

    .re1, .re2, .re3, .re4 {

      text-decoration: none;
      color: white;
    }

   .macintosh {

    max-width: 300px;
    position: absolute;
    bottom: 52%;
    left: 60%;
    padding: -100px;
    opacity: 0.4;
    z-index: -1;
 
   }

   